
<% if current_user%>

 <%= search_form_for @q, method: :get ,url: root_path do |f| %>
  <%= f.label :content_cont %>
  <%= f.search_field :content_cont %>
  <%= f.submit 'buscar'%>
  <% end %>

  <%= render 'tweets/form', tweet: @tweet %>
 

<% end %>
<br><br>
 <% @retweets.each do |retweet| %>
    <div class="card" style="width: 30rem;">
    <div class="container">
    <br>
    <%=image_tag retweet.user.image_url,  class: "rounded-circle border border-info " %>
   <h5 class="card-title">@<%=retweet.user.name%></h5>
   
      <p class="fas fa-retweet">retweet</p>
      <div class="card-body">
      <%=image_tag retweet.tweet.user.image_url,  class: "rounded-circle border border-info " %>
       <span>@</span><%= link_to retweet.tweet.user.name, follows_profile_path(retweet.tweet.id), class: "card-title"%>
        
        <br>
        <br>
        
        <h6 class="card-subtitle mb-2 text-muted">
        <a href=<%=tweets_path(retweet.tweet_id)%>> <%= time_ago_in_words(retweet.tweet.created_at) %></a>
        </h6>
       

          <p class="card-text">
          <% @content = retweet.tweet.content %>
          <% @content = @content.split(" ") %>
      
          <% @newcontent = @content.each do |item| %>
            <% if item.include?("#") %>
              <%=item = link_to item, search_path(search:item.gsub('#','')) %>
            <% else %>
              <%=item%> 
            <% end %>
          <% end %>
          </p>
        <% if current_user %>
            <%=retweet.tweet.likes_count%>
            <%= link_to 'like' , likes_path(retweet.tweet_id), method: :post , class: "fas fa-heart"%>
       
            <%=retweet.tweet.retweets_count%>
            <%= link_to 'retweet', retweets_path(retweet.tweet_id), method: :post , class: "fas fa-retweet"%>
            <% else %>
             <%=retweet.tweet.likes_count%>
              <li class ="fas fa-heart"></li>
            
            
                <%=retweet.tweet.retweets_count%>
                <li class ="fas fa-retweet"></li>
        <% end %>
      </div>
    </div>
    </div>
    <br>
 <% end %>


  <br>
<% @tweets.each do |tweet| %>
  <div class="card" style="width: 30rem;">

    <div class="card-body">
    <%=image_tag tweet.user.image_url,  class: "rounded-circle border border-info " %>
     <span>@</span><%= link_to tweet.user.name, follows_profile_path(tweet.id), class: "card-title"%>
      
      <br>
      <br>
       <h6 class="card-subtitle mb-2 text-muted">
         <%= link_to time_ago_in_words(tweet.created_at) , tweet%>
        </h6>

       <p class="card-text">
        <% @content = tweet.content %>
        <% @content = @content.split(" ") %>
    
        <% @newcontent = @content.each do |item| %>
          <% if item.include?("#") %>
          
            <%=item = link_to item, search_path(search: item.gsub('#','')) %>
          <% else %>
            <%=item%> 
          <% end %>
        <% end %>
        </p>

     
      
       <% if current_user %>
      <%=tweet.likes_count%>
      <%= link_to 'like' , likes_path(tweet.id), method: :post , class: "fas fa-heart"%>
  
  
      <%=tweet.retweets_count%>
      <%= link_to 'retweet', retweets_path(tweet.id), method: :post , class: "fas fa-retweet"%>
      <% else %>
      <%=tweet.likes_count%>
     <li class ="fas fa-heart"></li>
  
  
      <%=tweet.retweets_count%>
      <li class ="fas fa-retweet"></li>
     
      <% end %>
    </div>
  </div>
  <br>
 
 <% end %>

<%= paginate @tweets %>




